.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto';
}
.not-found-image {
  width: 50%;
}
.dark-bg {
  background-color: #000000;
  color: #ffffff;
}
.not-found-head-color {
  color: #334155;
}
.not-found-para-color{
  color: #64748b;
}