.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.about-image {
  max-width: 100px;
}
.dark-bg {
  background-color: #000000;
  color: #ffffff;
}
.light-bg {
  color: #1e293b;
}